body {
    background: gray;
}

h1 {
    color: whitesmoke;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 50pt;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: 300px;
    border-radius: 100%;
}

nav{
    font-family: 'Shrikhand', cursive;
    color: whitesmoke;
    text-align: center;
    margin: 20px;
    font-weight: 400;
    text-decoration: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.LI-profile-badge {
    text-align: center;
}